<div class="cd-popup" role="alert">
    <div class="cd-popup-container">
        <h1>Please wait</h1>
        <img src="/imgs/gears.gif" />
    </div> <!-- cd-popup-container -->
</div> <!-- cd-popup -->