
<div id="id02" class="modal">

    <form class="modal-content animate" method="POST" action="/register">
        <div class="imgcontainer">
            <span onclick="document.getElementById('id02').style.display='none'" class="close" title="Close Modal">&times;</span>
            <!--<img src="img_avatar2.png" alt="Avatar" class="avatar">-->
        </div>

        <div class="container">
            <h2>Registration</h2>
            <label><b>Username</b></label>
            <input class="auth_input" type="text" placeholder="Enter Username" name="login" required>

            <label><b>Password</b></label>
            <input class="auth_input" type="password" placeholder="Enter Password" name="password" required>

            <button class="auth_button loading_pop" type="submit">Login</button>
        </div>
    </form>
</div>

